

<ion-content>
  <div class="background">
    <ion-grid>
      <ion-row>
        <ion-button expand="block" fill="clear" shape="round" [routerLink]="['']" >
          <ion-icon  slot="start" name="chevron-back-outline"></ion-icon>
          返回
        </ion-button>
      </ion-row>
      <ion-row class="row" style="margin-top:80px;display: block;text-align: center;">
        <ion-label style="font-size: 30px;">注册</ion-label>
      </ion-row>
      <app-login></app-login>
    </ion-grid>
  </div>
</ion-content>
