<!-- <ion-app> -->
  <!-- <ion-backdrop style="z-index: 100;"></ion-backdrop> -->
<ion-header>
  <ion-toolbar>
    <ion-segment mode="md" [(ngModel)]="tab" style="background-color: rgba(225,225,225,0);">
      <ion-segment-button value="tab1" (click)="getCreatLesson()">
        <ion-label>我创建的</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab2" (click)="getMyLesson()">
        <ion-label>我加入的</ion-label>
      </ion-segment-button>
      <ion-label style="width:25%"> </ion-label>
      <ion-button (click)="addLesson()" fill="clear">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar class="searchbar" *ngIf="tab=='tab1'" placeholder="搜索" (click)="search('create')"></ion-searchbar>
    <ion-searchbar class="searchbar" *ngIf="tab=='tab2'" placeholder="搜索" (click)="search('join')"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'tab1'">
      <ion-list lines="none" *ngFor="let item of lessonList;let i = index">
        <ion-item [routerLink]="['/tabs']" (click)="getCurrentLesson(i)">
          <ion-thumbnail>
            <img src="../../../../assets/icon/lesson.png">
          </ion-thumbnail>
          <ion-label>
            <h3>&nbsp;&nbsp;&nbsp;{{item.name}}</h3>
            <p>&nbsp;&nbsp;&nbsp;{{item.tname}}&nbsp;&nbsp;{{item.class}}</p>
            <p>&nbsp;&nbsp;&nbsp;{{item.term}}</p>
          </ion-label>
          <ion-label style="margin-top: auto;">
            <p style="color:#50c8ff">{{item.no}}</p>
          </ion-label>
        </ion-item>

        <ion-item style="border-bottom: solid 1px #808080b5;">
          <ion-label (click)="gotoCheckin()" style="text-align: -webkit-right;">
            <ion-icon name="shield-checkmark-outline"></ion-icon>
          </ion-label>
          <ion-label style="text-align: -webkit-left;">
            <p style="font-size: 12px;">
              发起签到
            </p>
          </ion-label>
        </ion-item>

      </ion-list>
    </div>
    <div *ngSwitchCase="'tab2'">
      <ion-list lines="none" *ngFor="let item of lessonList" style="border-bottom: solid 1px gray;">
        <ion-item >
          <ion-thumbnail>
            <img src="../../../../assets/icon/lesson.png">
          </ion-thumbnail>
          <ion-label>
            <h3>&nbsp;&nbsp;&nbsp;{{item.name}}</h3>
            <p>&nbsp;&nbsp;&nbsp;{{item.tname}}&nbsp;&nbsp;{{item.class}}</p>
            <p>&nbsp;&nbsp;&nbsp;
              <ion-icon name="shield-checkmark-outline"></ion-icon>
              签到
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<!-- </ion-app> -->