<ion-header>
  <ion-toolbar>
    <ion-segment mode="md" [(ngModel)]="tab" style="background-color: rgba(225,225,225,0);">
      <ion-segment-button value="tab1">
        <ion-label>我创建的</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab2">
        <ion-label>我加入的</ion-label>
      </ion-segment-button>
      <ion-label style="width:25%"> </ion-label>
      <ion-button (click)="onClick()" fill="clear">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar class="searchbar" placeholder="搜索"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'tab1'">
      <ion-list>
        <ion-item [routerLink]="['/tabs']">
          <ion-thumbnail>
            <img src="../../../../assets/icon/lesson.png">
          </ion-thumbnail>
          <ion-label>
            <h3>&nbsp;&nbsp;&nbsp;课程名</h3>
            <p>&nbsp;&nbsp;&nbsp;老师&nbsp;&nbsp;专业</p>
            <p>&nbsp;&nbsp;&nbsp;时间&nbsp;&nbsp;班课号</p>
          </ion-label>
          <ion-label style="text-align: -webkit-right;margin-top: auto;">
            <p>
              <ion-icon name="shield-checkmark-outline"></ion-icon>
              发起签到
            </p>
          </ion-label>
        </ion-item>


        <!-- <div>
          <ion-label>签到</ion-label>
        </div> -->

      </ion-list>
    </div>
    <div *ngSwitchCase="'tab2'">
      <ion-list>
        <ion-item >
          <ion-thumbnail>
            <img src="../../../../assets/icon/lesson.png">
          </ion-thumbnail>
          <ion-label>
            <h3>&nbsp;&nbsp;&nbsp;课程名</h3>
            <p>&nbsp;&nbsp;&nbsp;老师&nbsp;&nbsp;专业</p>
            <p>&nbsp;&nbsp;&nbsp;
              <ion-icon name="shield-checkmark-outline"></ion-icon>
              签到
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>


</ion-content>