<ion-header>
  <div style="width: 100%;height: 20px;opacity: 0;"></div>
  <ion-toolbar>
    <ion-searchbar class="searchbar" showCancelButton="always" cancelButtonText="取消" 
    (ionCancel)="dissmissSearch()" (ionChange)="getData($event)" placeholder="搜索 姓名或学号" style="margin-top:10px;"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>
      <p>成员总数</p>
    </ion-label>
    <ion-label style="text-align: -webkit-right;">
      <p>{{memberNo}}人</p>
    </ion-label>
    </ion-item>
    <ion-item *ngFor="let item of searchMember" style="margin:5px 0px;">
        <h3 style="color:#3dc2ff;">{{item.index+1}}&nbsp;&nbsp;</h3>
      <ion-thumbnail>
        <img src="../../../../assets/icon/head.png">
      </ion-thumbnail>
      <ion-label>
        <h3>
          &nbsp;&nbsp;{{item.name}}&nbsp;&nbsp;
          <ion-icon *ngIf="item.sex=='1'" name="female-outline" style="color:#ed576b"></ion-icon>
          <ion-icon *ngIf="item.sex=='0'" name="male-outline" style="color:#3dc2ff"></ion-icon>
        </h3>
        <p>&nbsp;&nbsp;{{item.sno}}</p>
      </ion-label>
      <ion-label style="text-align: -webkit-right;color:#ed9c57;">
        <h2>{{item.exp}}&nbsp;经验值</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>