.row-text {
    background: #80808026;
}

.row-label {
    padding: 5px 0px;
}

.col-img {
    text-align: -webkit-center;
}

.checkinImg {
    width: 50px;
    margin-top: 20px;
}

.explain {
    font-size: 10px;
}