<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="light" expand="block" fill="clear" shape="round" [routerLink]="['/lesson-tabs']">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{lesson.name}}</ion-title>
  </ion-toolbar>
<ion-toolbar style="--background:linear-gradient(#3dc2ff 0%,#3dc2ff 60%,white 60%,white 100%);--border-width: 0 0 0px;">
<!-- <div style="width:100%；height：100px;color:blue"></div> -->
<ion-card>
  <ion-item>
    <ion-thumbnail>
      <img src="../../../../assets/icon/lesson.png">
    </ion-thumbnail>
    <ion-label>
      <h5>&nbsp;&nbsp;&nbsp;{{lesson.class}}</h5>
      <h5>&nbsp;&nbsp;&nbsp;{{lesson.name}}</h5>
      <h5>&nbsp;&nbsp;&nbsp;{{lesson.tname}}</h5>
      <h5>&nbsp;&nbsp;&nbsp;{{lesson.term}} {{lesson.type}}</h5>
    </ion-label>
  </ion-item>
</ion-card>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-item lines="none">
      <ion-label slot="start">
        <p>课程号</p>
      </ion-label>
      <ion-label slot="end">
        <p>{{lesson.no}}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start">
        <p>允许加入</p>
      </ion-label>
      <ion-label slot="end">
        <ion-toggle color="secondary" [checked]="lesson.checked"></ion-toggle>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>学校院系</h3>
        <p>{{lesson.school}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>学习要求</h3>
        <p>{{lesson.require}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>教学进度</h3>
        <p>{{lesson.process}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>考试安排</h3>
        <p>{{lesson.test}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item class="lesson-row" lines="none" style="border:solid 1px red;">
    <ion-button class="lesson-btn" fill="clear" style="color:red">结束班课</ion-button>
  </ion-item>
  <ion-item class="lesson-row" lines="none" style="border:solid 1px gray;">
    <ion-button class="lesson-btn" fill="clear" style="color:gray">删除班课</ion-button>
  </ion-item>
  <ion-item>
    <ion-label><p>只有已结束的班课可以被删除</p></ion-label>
  </ion-item>
</ion-content>