<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/join-by-code']">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="medium" style="text-align:center;margin-right: 30px;">加入班课</ion-title>
    </ion-toolbar>
    <ion-card mode="ios" style="text-align: center;">
        <ion-item lines="none">
            <ion-thumbnail class="my-thum">
                <ion-icon class="thum-icon" color="light" name="cloud-circle-outline">
                </ion-icon>
            </ion-thumbnail>
        </ion-item>
        <ion-item lines="none">
            <ion-label style="text-align: center;margin-top: 8px;">
                <p>{{lesson.class}}</p>
                <p>{{lesson.name}}</p>
            </ion-label>
        </ion-item>

        <!-- <ion-card-header>
            <div>
                <ion-thumbnail class="thum">
                    <ion-icon class="thum-icon" color="light" name="cloud-circle-outline">
                    </ion-icon>
                </ion-thumbnail>
            </div>
            <ion-card-subtitle>{{lesson.class}}</ion-card-subtitle>
            <ion-card-subtitle>{{lesson.name}}</ion-card-subtitle>
        </ion-card-header> -->
        <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->
    </ion-card>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="full">
            <ion-label>老师</ion-label>
            <ion-input disabled>&nbsp;&nbsp;&nbsp;{{lesson.tname}}</ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label>类型</ion-label>
            <ion-input disabled>&nbsp;&nbsp;&nbsp;{{lesson.schoolLesson}}</ion-input>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer style="text-align: center;">
    <ion-button color="secondary" style="width: 90%;" (click)="confirmJoin()">
        加入
    </ion-button>
</ion-footer>