<ion-content>
  <div class="background">
    <form (ngSubmit)="onForgetPass(forgetpassForm)" #forgetpassForm="ngForm" novalidate>
      <ion-grid>
        <ion-row>
          <ion-button expand="block" fill="clear" shape="round" [routerLink]="['/find-by-email']">
            <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            返回
          </ion-button>
        </ion-row>
        <ion-row class="row" style="margin-top:30px;display: block;text-align: center;">
          <ion-label style="font-size: 30px;">设置新密码</ion-label>
        </ion-row>
        <ion-row class="row" style="margin-top:10px">
        </ion-row>
         <ion-row class="row" style="margin-top:10px">
          <ion-input name="pwd1" type="password" class="input-user" placeholder="请输入新密码" required
          pattern="^(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^[^\s\u4e00-\u9fa5]{6,16}$" [(ngModel)]="forgetinf.password1" #pwd2="ngModel">
            <ion-icon name="checkmark-done-circle-outline" class="input_icon"></ion-icon>
          </ion-input>
        </ion-row>

        <ion-row class="row" style="margin-top:10px">
          <ion-input name="pwd2" type="password" class="input-user" placeholder="请再次输入新密码" required
          pattern="^(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^[^\s\u4e00-\u9fa5]{6,16}$" [(ngModel)]="forgetinf.password2" #pwd2="ngModel">
            <ion-icon name="checkmark-done-circle-outline" class="input_icon"></ion-icon>
          </ion-input>
        </ion-row>
        <!-- <div class="signup_warn">
          <ion-text text-left color="danger" *ngIf="pwd2.invalid && pwd2.touched">
            <p class="warn" [hidden]="!pwd2.errors?.required" padding-start>请再次输入密码</p>
            <p class="warn" [hidden]="!pwd2.errors?.pattern" padding-start>6至16位，由数字、英文、符号三种字符类型构成，至少包含两种类型字符</p>
          </ion-text>
        </div>  -->
        <ion-row class="row">
          <ion-button color="secondary" type="submit" class="btn btn-login"> 确认 </ion-button>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>