<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button color="medium" text=""></ion-back-button>
        </ion-buttons>
        <ion-title color="medium">签到中</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>latitude={{latitude}}</p>
    <p>longitude={{longitude}}</p>
    <p>{{address.latitude}}</p>
</ion-content>

<ion-footer>
    <ion-list lines="full">
        <ion-item class="text-pos">
            <ion-label>0/45</ion-label>
        </ion-item>
        <ion-item>
            <ion-button class="text-pos click-btn" fill="clear" slot="start">放弃</ion-button>
            <ion-button class="text-pos click-btn" fill="clear" slot="end">结束</ion-button>
        </ion-item>
    </ion-list>

    <!-- <ion-grid>
    <ion-row style="text-align: center;">
      <ion-label>0/45</ion-label>
    </ion-row>
    <ion-row>
      <ion-col class="col-btn">
        <ion-button fill="clear">放弃</ion-button>
      </ion-col>
      <ion-col class="col-btn">
        <ion-button fill="clear">结束</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-footer>