<ion-header>
  <ion-toolbar>
    <ion-title>我的</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" style="padding: 9px 0px;">
      <ion-thumbnail>
        <img src="../../../../assets/icon/lesson.png">
      </ion-thumbnail>
      <ion-label>
        <h3>&nbsp;&nbsp;&nbsp;姓名&nbsp;&nbsp;电话号码</h3>
        <p>&nbsp;&nbsp;&nbsp;经验值&nbsp;&nbsp;36</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full">
    <ion-item-divider>
    </ion-item-divider>
    <ion-item>
      <ion-label>昵称</ion-label>
      <ion-input  class="my_inf" slot="end" type="text" placeholder="未设置">  </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>工号</ion-label>
      <ion-input class="my_inf" slot="end" type="text" placeholder="未设置">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>出生年月</ion-label>
      <ion-input class="my_inf" slot="end" type="text" placeholder="未设置">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>性别</ion-label>
      <ion-input class="my_inf" slot="end" type="text" placeholder="未设置">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>你所在的学校或院系</ion-label>
      <ion-input class="my_inf" slot="end" type="text" placeholder="未设置">  </ion-input>
    </ion-item>
  </ion-list>

  <ion-list lines="full">
    <ion-item-divider>
    </ion-item-divider>
    <ion-item>
      <ion-label>用户协议</ion-label>
      <ion-input class="my_inf" slot="end" type="text" placeholder="未设置">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>隐私设置</ion-label>
      <ion-input class="my_inf" slot="end" type="text" placeholder="未设置">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>设置</ion-label>
      <ion-input class="my_inf" slot="end" type="text" placeholder="未设置">  </ion-input>
    </ion-item>
  </ion-list>

</ion-content>
